# Encoding Ordinal Categorical Features
### Preliminaries

In [2]:
# Load libraries
import pandas as pd

### Create Feature Matrix

In [4]:
# Create features
df = pd.DataFrame({'Score': ['Low', 
                             'Low', 
                             'Medium', 
                             'Medium', 
                             'High']})

# View data frame
df

    Score
0     Low
1     Low
2  Medium
3  Medium
4    High

### Create Scale Map

In [6]:
# Create scale mapper
scale_mapper = {'Low':1, 'Medium':2, 'High':3}

### Map Scale To Features

In [8]:
# Map feature values ot scale
df['Scale'] = df['Score'].replace(scale_mapper)

# View data frame
df

    Score  Scale
0     Low      1
1     Low      1
2  Medium      2
3  Medium      2
4    High      3

Source: https://chrisalbon.com/machine-learning/encoding_ordinal_categorical_features.html