# <center>  Immigrating to the US

H1B Visa: The H1B visa is an employment-based, non-immigrant visa for temporary workers. For this visa, an employer must offera job in the US and apply for your H1B visa petition with the US Immigration Department. This approved petition is a work permit which allows you to obtain a visa stamp and work in the U.S. for that employer.

Data Source: https://www.kaggle.com/nsharan/h-1b-visa

**Question/Request**: How hard would it be to get an HIB Visa?

### Import Data

In [10]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('max_rows',visa.shape[0])

In [6]:
visa  = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/3y4evv7370uik6z/h1b_kaggle.csv?dl=1'))
visa.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

### Checking Null Values

In [8]:
visa.isnull().sum()

Unnamed: 0                 0
CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

For a dataset of 3 million petititons, this few null values (except of lon and lat), is fairly clean. I will be leaving the null values in, since many of the null values are categorical

### Unique Job Title

In [13]:
print('Total Applications:', visa.shape[0])

Total Applications: 3002458

In [11]:
visa['JOB_TITLE'].nunique()

287549