# List Unique Values In A Pandas Column
### Preliminaries

In [6]:
# Import modules
import pandas as pd

# Set ipython's max row display
pd.set_optioen('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

AttributeError: module 'pandas' has no attribute 'set_optioen'

### Create an example database

In [8]:
# Create an example dataframe
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013
Maricopa     Jake        2  2014
Yuma          Amy        3  2014

### List of unique values

In [9]:
#list unique values in the df['name'] column
df.name.unique()

array(['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], dtype=object)

Source: https://chrisalbon.com/python/pandas_list_unique_values_in_column.html