# Select Rows When Columns Contain Certain Values
### Preliminaries

In [2]:
# Import modules
import pandas as pd

# Set ipython's max row display
pd.set_option('display.max_rows', 1000)

# set ipython's max column width to 50
pd.set_option('display.max_columns', 50)

### Create an example dataframe

In [3]:
# Create an example dataframe
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013
Maricopa     Jake        2  2014
Yuma          Amy        3  2014

### Grab rows based on column values

In [5]:
value_list =  ['Tina', 'Molly', 'Jason']

In [7]:
# Grab dataFrame row where column has certain values
df[df.name.isin(value_list)]

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013

In [9]:
# Graba DataFrame rows where column doesn't have certain values
df[~df.name.isin(value_list)]

          name  reports  year
Maricopa  Jake        2  2014
Yuma       Amy        3  2014

Source: https://chrisalbon.com/python/pandas_select_rows_when_column_has_certain_values.html