# Break Up Dates and Times into Multiple Features
###  Preliminaries

In [2]:
# Load library
import pandas as pd

###  Create Date and Time Data

In [5]:
# create dataframe
df = pd.DataFrame()

# Create five dates
df['date'] = pd.date_range('1/1/2001', periods=150, freq='W')

### Break Up Dates and Times Into Individual Features

In [6]:
# Create faetures for year, month, day, hour , and minute
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute

# Show three rows
df.head(3)

        date  year  month  day  hour  minute
0 2001-01-07  2001      1    7     0       0
1 2001-01-14  2001      1   14     0       0
2 2001-01-21  2001      1   21     0       0

Source: https://chrisalbon.com/machine-learning/break_up_dates_and_times_into_multiple_features.html