# <center> Feature Engineering I
**Summary of Actions**
* Created dummy variables for all categorical features using Label Encoding
### Import Preliminaries

In [16]:
%matplotlib inline

# Import modules
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

# Import data
train_df = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/m2xk1588efn3icv/cleaned_train_df.csv?dl=1'))
test_df = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/zlq1xsznwg2a7z6/cleaned_test_df.csv?dl=1'))

# Set pandas options
pd.set_option('precision',1)
pd.set_option('max_columns',100)
pd.set_option('max_rows',100)

dfs = [train_df, test_df]

In [17]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 12 columns):
PassengerId    889 non-null int64
Survived       889 non-null int64
Pclass         889 non-null int64
Name           889 non-null object
Sex            889 non-null object
Age            889 non-null float64
SibSp          889 non-null int64
Parch          889 non-null int64
Ticket         889 non-null object
Fare           889 non-null float64
Cabin          889 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.4+ KB

### Creating Dummy Variables

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for df in dfs:
  
  object_columns = list(df.select_dtypes(
  include=[object]).columns)
  
  for col in df[object_columns]:
    df[col] = le.fit_transform(df[col])

### Viewing the Data

In [19]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,108,1,22.0,1,0,522,7.2,146,2
1,2,1,1,190,0,38.0,1,0,595,71.3,80,0
2,3,1,3,353,0,26.0,0,0,668,7.9,146,2
3,4,1,1,272,0,35.0,1,0,48,53.1,54,2
4,5,0,3,15,1,35.0,0,0,471,8.1,146,2

### Exporting Data

In [20]:
train_df.to_csv('Data/featured_train_df.csv', index=False)
test_df.to_csv('Data/featured_test_df.csv', index=False)