# Select Rows With Multiple Filters

In [1]:
# Import pandas as pd
import pandas as pd

In [3]:
# Create an example dataframe
data = {'name': ['A', 'B', 'C', 'D', 'E'], 
        'score': [1,2,3,4,5]}
df = pd.DataFrame(data)
df

  name  score
0    A      1
1    B      2
2    C      3
3    D      4
4    E      5

In [4]:
# Select rows of the dataframe where df.score is greater than 1 and less than 5
df[(df['score'] > 1 ) & (df['score'] < 5)]

  name  score
1    B      2
2    C      3
3    D      4

Source: https://chrisalbon.com/python/pandas_select_rows_multiple_filters.html