# <center> Importing Data from RDS
### Import Prelimnaries

In [1]:
# import pymysql and pandas information
import pandas as pd
import pymysql

# setting up db  connection parameters 
host="aws.endpoint.us-east-2.rds.amazonaws.com"
port=3306
db ='world'
user="Username"
password="Password"

# Set up the connection
conn = pymysql.connect(db=db, host=host, user=user,port=port, 
                       passwd=password)

### Import and Query the Data

In [2]:
# read sql data with pandas
df = pd.read_sql('SELECT * from country;',con=conn)

# view the dataframe
df.sample(5)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
94,HND,Honduras,North America,Central America,112088.0,1838.0,6485000,69.9,5333.0,4697.0,Honduras,Republic,Carlos Roberto Flores FacussÃ©,933.0,HN
73,FRO,Faroe Islands,Europe,Nordic Countries,1399.0,NaN,43000,78.4,0.0,NaN,FÃ¸royar,Part of Denmark,Margrethe II,901.0,FO
216,TUV,Tuvalu,Oceania,Polynesia,26.0,1978.0,12000,66.3,6.0,NaN,Tuvalu,Constitutional Monarchy,Elisabeth II,3424.0,TV
122,LCA,Saint Lucia,North America,Caribbean,622.0,1979.0,154000,72.3,571.0,NaN,Saint Lucia,Constitutional Monarchy,Elisabeth II,3065.0,LC
85,GRC,Greece,Europe,Southern Europe,131626.0,1830.0,10545700,78.4,120724.0,119946.0,EllÃ¡da,Republic,Kostis Stefanopoulos,2401.0,GR

Author: Kavi