### Sample Submissions

In [1]:
import pandas as pd

sample = pd.read_csv('Data/sample_submission.csv')
sample.head(10)

        id  project_is_approved
0  p233245             0.847682
1  p096795             0.847682
2  p236235             0.847682
3  p233680             0.847682
4  p171879             0.847682
5  p016071             0.847682
6  p099906             0.847682
7  p200236             0.847682
8  p129452             0.847682
9  p186652             0.847682