In [8]:
# Course  Link: https://www.youtube.com/watch?v=fCMrO_VzeL8&index=16&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y

import pandas as pd

# 16: how to handle Missing Values
# - NaN is refering to a missing Value..simple

ufo = pd.read_csv('http://bit.ly/uforeports')

ufo.tail()

ufo.isnull().tail() # shows T and F statement for each data point

ufo.notnull().tail # the opposite results of .isnull()

ufo.isnull().sum() # number of missing values for each column

pd.Series([True, False, True]).sum()

ufo[ufo.City.isnull()] # View the 25 row where city is missing

ufo.shape # View shape of dataframe

ufo.dropna(how='any', inplace=True).shape # Drop all rows where their is 1 missing value in the row

ufo.dropna(how='all', inplace-True).shape # Drop, if all columns in row are NaN

ufo.dropna(subset=['City','Shape Reported '], how ='any').shape # Drop row if City or Shape Reported is NaN

ufo.dropna(subset=['City','Shape Reported '], how ='all').shape # Drop row if City and Shape Reported is NaN

ufo['Shape Reported'].value_counts() # Shows the Frequency of Values in column, Missing values are excluded from value_counts function

ufo['Shape Reported'].value_counts(dropna = False) # Shows the Frequency of Values in column including NaN

ufo['Shape Reported'].fillna(value='VARIOUS', inplace = True) #Fill all Nan values with Various Dimension

      City Colors Reported Shape Reported State              Time
21     NaN             NaN            NaN    LA    8/15/1943 0:00
22     NaN             NaN          LIGHT    LA    8/15/1943 0:00
204    NaN             NaN           DISK    CA   7/15/1952 12:30
241    NaN            BLUE           DISK    MT    7/4/1953 14:00
613    NaN             NaN           DISK    NV    7/1/1960 12:00
1877   NaN          YELLOW         CIRCLE    AZ    8/15/1969 1:00
2013   NaN             NaN            NaN    NH     8/1/1970 9:30
2546   NaN             NaN       FIREBALL    OH  10/25/1973 23:30
3123   NaN             RED       TRIANGLE    WV  11/25/1975 23:00
4736   NaN             NaN         SPHERE    CA   6/23/1982 23:00
5269   NaN             NaN            NaN    AZ   6/30/1985 21:30
6735   NaN             NaN      FORMATION    TX     4/1/1992 2:00
7208   NaN             NaN         CIRCLE    MI   10/4/1993 17:30
8828   NaN             NaN       TRIANGLE    WA  10/30/1995 21:30
8967   NaN             NaN        VARIOUS    CA   12/8/1995 18:00
9273   NaN             NaN       TRIANGLE    OH     5/1/1996 3:00
9388   NaN             NaN           OVAL    CA   6/12/1996 12:00
9587   NaN             NaN            EGG    FL   8/24/1996 15:00
10399  NaN             NaN       TRIANGLE    IL   6/15/1997 23:00
11625  NaN             NaN         CIRCLE    TX     6/7/1998 7:00
12441  NaN             RED       FIREBALL    WA  10/26/1998 17:58
15767  NaN             NaN      RECTANGLE    NV   1/21/2000 11:30
15812  NaN             NaN          LIGHT    NV     2/2/2000 3:00
16054  NaN           GREEN            NaN    FL    3/11/2000 3:30
16608  NaN             NaN         SPHERE    NY   6/15/2000 15:00

In [10]:
# 19 When do I use the inlace parameter

ufo.shape

ufo.head()

ufo.drop(['City'],axis = 1, inplace = True).head() #Drop column inplace

ufo.dropna(how='any').shape #Viewing change, that 2490 rows would be dropped

ufo.dropna(how='any', inplace = True).shape #drop 2490 rows with NaN values

ufo.set_index('Time', inplace = True) #Set Time column as index via inplace

ufo = ufo.set_index('Time') #Set Time columns as index via assignment (2nd copy created)

#ufo.fillna(method='bfill').tail()

#ufo.fillna(method='ffill').tail()

ValueError: labels ['City'] not contained in axis

In [14]:
# 22 How to I use pandas with scikit-learn to create Kaggle Submissions?

train = pd.read_csv('http://bit.ly/kaggletrain')

train.head()

feature_cols = ['Pclass','Parch']

X = train.loc[:, feature_cols]

X.shape

y = train.Survived

y.shape

from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X,y)

test = pd.read_csv('http://bit.ly/kaggletest')
test.head()

X_new = test.loc[:,feature_cols]
X_new.shape

new_pred_class = logreg.predict(X_new) # Guess: Predicts Value

new_pred_class

pd.DataFrame({'PassengerId':test.PassengerId},'Survived':new_pred_class).set_index('PassengerId').to_csv('sub.csv') 
# Create a CSV File fro Sumbission after setting index and creating data frame 

train.to_pickle('train.pk1') 

pd.read_pickle('train.pk1')

ModuleNotFoundError: No module named 'sklearn'

In [16]:
# 23 More of your pandas questions answered! 

# Pandas API Reference lists every function within the framework
# Some functinos are muplitple methods (Series, Dataframe, pd, i.e isnull())
# loc uses inclusive indexing 
# iloc uses inclusive indexing on the left, and exclusive on the right
# Pandas uses Numpy slicing features
ufo.loc[:,'City':'State']

# Take a random sample

ufo.sample(n=3) # Take a random sample from each time the notebook runs the cell

ufo.sample(n=3, random_state=42) # Take a random sample, but hold the results the same when running the cell

ufo.sample(frac=.75, random_state=42) # Getting a random sample, hold the results, of 75% of the observation within the data frame

# you cannot use n and frac in the sample function at the same time


# how to split you data into training and testing -> 75/25 split

train = ufo.sample(frac=0.75, random_state = 99)
test = ufo.loc[~ufo.index.isin(train.index),:]

In [17]:
# 24 How do I create dummy variable in pandas

train = pd.read_csv('http://bit.ly/kaggletrain')

train.head()

train['Sex_male'] = train.Sex.map({'female':0, 'male':1}) # New Column, repalce strings with int representations

train.head()

pd.get_dummies(train.Sex)

# number of categorcial variable is k = 10, your want to use k - 1 = 9 dummy variables

pd.get_dummies(train.Sex).iloc[:,1:]

pd.get_dummies(train.Sex, prefix='Sex').iloc[:,1:] #Dropping and Replacing row in DataFrame with dummies

train.Embarked.value_counts()

pd.get_dummies(train.Embarked, prefix = 'Embarked')

pd.get_dummies(train.Embarked, prefix = 'Embarked').iloc[:,1:] #Dropping and Replacing row in DataFrame with dummies

embarked_dummies = pd.get_dummies(train.Embarked, prefix = 'Embarked').iloc[:,1:] 

train = pd.concat ([train, embarked_dummies],axis = 1) # Concat dataframes

train.head()


#Bonus -Passinp dataframe to get_dummies function 

train = pd.read_csv('http://bit.ly/kaggletrain')

pd.get_dummies(train, columns=['Sex','Embarked']) # Will change colums to dummies in dataframe

pd.get_dummies(train, columns=['Sex','Embarked'], drop_first=True) # Will change colums to dummies in dataframe,and drop orginal columns

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,1,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,0,0,1
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,1,0,1
5,6,0,3,"Moran, Mr. James",NaN,0,0,330877,8.4583,NaN,1,1,0
6,7,0,1,"McCarthy, Mr. Timothy J",54.0,0,0,17463,51.8625,E46,1,0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",2.0,3,1,349909,21.0750,NaN,1,0,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",27.0,0,2,347742,11.1333,NaN,0,0,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",14.0,1,0,237736,30.0708,NaN,0,0,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",4.0,1,1,PP 9549,16.7000,G6,0,0,1
11,12,1,1,"Bonnell, Miss. Elizabeth",58.0,0,0,113783,26.5500,C103,0,0,1
12,13,0,3,"Saundercock, Mr. William Henry",20.0,0,0,A/5. 2151,8.0500,NaN,1,0,1
13,14,0,3,"Andersson, Mr. Anders Johan",39.0,1,5,347082,31.2750,NaN,1,0,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",14.0,0,0,350406,7.8542,NaN,0,0,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",55.0,0,0,248706,16.0000,NaN,0,0,1
16,17,0,3,"Rice, Master. Eugene",2.0,4,1,382652,29.1250,NaN,1,1,0
17,18,1,2,"Williams, Mr. Charles Eugene",NaN,0,0,244373,13.0000,NaN,1,0,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",31.0,1,0,345763,18.0000,NaN,0,0,1
19,20,1,3,"Masselmani, Mrs. Fatima",NaN,0,0,2649,7.2250,NaN,0,0,0
20,21,0,2,"Fynney, Mr. Joseph J",35.0,0,0,239865,26.0000,NaN,1,0,1
21,22,1,2,"Beesley, Mr. Lawrence",34.0,0,0,248698,13.0000,D56,1,0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",15.0,0,0,330923,8.0292,NaN,0,1,0
23,24,1,1,"Sloper, Mr. William Thompson",28.0,0,0,113788,35.5000,A6,1,0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",8.0,3,1,349909,21.0750,NaN,0,0,1
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",38.0,1,5,347077,31.3875,NaN,0,0,1
26,27,0,3,"Emir, Mr. Farred Chehab",NaN,0,0,2631,7.2250,NaN,1,0,0
27,28,0,1,"Fortune, Mr. Charles Alexander",19.0,3,2,19950,263.0000,C23 C25 C27,1,0,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",NaN,0,0,330959,7.8792,NaN,0,1,0
29,30,0,3,"Todoroff, Mr. Lalio",NaN,0,0,349216,7.8958,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",21.0,1,0,28134,11.5000,NaN,1,0,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",48.0,0,0,17466,25.9292,D17,0,0,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",NaN,8,2,CA. 2343,69.5500,NaN,0,0,1
864,865,0,2,"Gill, Mr. John William",24.0,0,0,233866,13.0000,NaN,1,0,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",42.0,0,0,236852,13.0000,NaN,0,0,1
866,867,1,2,"Duran y More, Miss. Asuncion",27.0,1,0,SC/PARIS 2149,13.8583,NaN,0,0,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",31.0,0,0,PC 17590,50.4958,A24,1,0,1
868,869,0,3,"van Melkebeke, Mr. Philemon",NaN,0,0,345777,9.5000,NaN,1,0,1
869,870,1,3,"Johnson, Master. Harold Theodor",4.0,1,1,347742,11.1333,NaN,1,0,1
870,871,0,3,"Balkic, Mr. Cerin",26.0,0,0,349248,7.8958,NaN,1,0,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",47.0,1,1,11751,52.5542,D35,0,0,1
872,873,0,1,"Carlsson, Mr. Frans Olof",33.0,0,0,695,5.0000,B51 B53 B55,1,0,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",47.0,0,0,345765,9.0000,NaN,1,0,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",28.0,1,0,P/PP 3381,24.0000,NaN,0,0,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",15.0,0,0,2667,7.2250,NaN,0,0,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",20.0,0,0,7534,9.8458,NaN,1,0,1
877,878,0,3,"Petroff, Mr. Nedelio",19.0,0,0,349212,7.8958,NaN,1,0,1
878,879,0,3,"Laleff, Mr. Kristo",NaN,0,0,349217,7.8958,NaN,1,0,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",56.0,0,1,11767,83.1583,C50,0,0,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",25.0,0,1,230433,26.0000,NaN,0,0,1
881,882,0,3,"Markun, Mr. Johann",33.0,0,0,349257,7.8958,NaN,1,0,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",22.0,0,0,7552,10.5167,NaN,0,0,1
883,884,0,2,"Banfield, Mr. Frederick James",28.0,0,0,C.A./SOTON 34068,10.5000,NaN,1,0,1
884,885,0,3,"Sutehall, Mr. Henry Jr",25.0,0,0,SOTON/OQ 392076,7.0500,NaN,1,0,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",39.0,0,5,382652,29.1250,NaN,0,1,0
886,887,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,1,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,0,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,0,0,1
889,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,1,0,0
890,891,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,1,1,0

In [43]:
# 25 How do I work with dates and times in pandas.

import datetime as dt
import matplotlib as plt

ufo = pd.read_csv('http://bit.ly/uforeports')

ufo.head()

ufo.dtypes

#ufo.Time.str.slice(-5,-5).astype(int).head() #Extract Time from String - Messy

ufo['Time'] = pd.to_datetime(ufo.Time) #Convert Column to DateTime

# pd.to_dateTime automatically figures out the formate of you datetime

ufo.dtypes

ufo.Time.dt.weekday # Weekday

ufo.Time.dt.dayofyear # Day of Year

ufo.Time.dt.hour # Hour

ufo.Time.dt.weekday_name.head() # Weekday Name

#More opition in API documentation 

ts = pd.to_datetime('1/1/1999') # Timestamp

ufo.loc[ufo.Time <= ts,:].head() # Running comparison with Timestamp value

ufo.Time.max() - ufo.Time.min() # You can substract times, this is a time delta object 


# Bonus - Plotting number of UFO reports per year

%matplotlib notebook

ufo['Year'] = ufo.Time.dt.year

ufo.head()

ufo.Year.value_counts() #Sorted by Value Counts

ufo.Year.value_counts().sort_index() # Sorted By Year

ufo.Year.value_counts().sort_index().plot()

In [65]:
# 26 - How to I find and remove duplicate rows in pandas

# read a dataset of movie reviewers (modifying the default parameter values for read_table)
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('http://bit.ly/movieusers', sep='|', header=None, names=user_cols, index_col = 'user_id')

users.head()

users.shape

users.zip_code.duplicated() # Duplicate F or T statement, if something above in column already exists

users.zip_code.duplicated().sum() # Summed number of duplicates

users.duplicated() #True if an entire row is the same as a entire row above

users.duplicated().sum() # Summed number of duplicates

users.loc[users.duplicated(),:] #Using loc to view rows where the duplicates exist

users.loc[users.duplicated(keep='first'),:] # Viewing the "First" duplicates in the dataframe

users.loc[users.duplicated(keep='last'),:] # Viewing the "last" duplicates in the dataframe

users.loc[users.duplicated(keep=False),:] # Viewing all duplicates as True, viewing all the pairs

users.drop_duplicates(keep='first').shape # Dropped first 7 rows

users.drop_duplicates(keep='last').shape # Dropped last 7 rows

users.drop_duplicates(keep=False).shape # Dropped all 14 rows

users.drop_duplicates(subset=['age','zip_code']).shape #Dropping on duplicates from comparing only age and zipcode

(927, 4)

In [78]:
# 27 How do I avoid a SettingWithCopyWarning in Pandas

movies = pd.read_csv('http://bit.ly/imdbratings')

movies.head()

movies.content_rating.isnull().sum() # View Null Value Totals

movies[movies.content_rating.isnull()] # Viewing Null Value rows using Where

movies.content_rating.value_counts() # Viewing Value Counts

movies[movies.content_rating == 'NOT RATED'] # Viewing all Rows with Content Rating eqauls "Not Rated"

import numpy as np

movies[movies.content_rating == 'NOT RATED'].content_rating = np.nan # Overwritting Value on Dataframe Warning

movies.content_rating.sum() # You can check that the above line of code did not work

movies.loc[movies.content_rating == 'NOT RATED','content_rating'] = np.nan

# Funcky - Come back to this Lesson

/Users/Kavi/anaconda/envs/Platinum/lib/python3.6/site-packages/pandas/core/generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

TypeError: must be str, not int

In [112]:
# 28 - How do I change display option in pandas. 

drinks = pd.read_csv('http://bit.ly/drinksbycountry')

# You can find options at Pandas GET Option

pd.get_option('display.max_rows') # View the Current Option

pd.set_option('display.max_rows', None)# View the All Rows

pd.set_option('display.max_rows', 100)# View top 100 Rows

drinks

pd.reset_option('display.max_rows') # Reset Option to Default

drinks

pd.set_option('display.max_columns', None)

drinks

# 2nd Example

train = pd.read_csv('http://bit.ly/kaggletrain')

train.head() #Strings in Name Column are Viewed as .....

pd.set_option('display.max_colwidth', 1000) # View column width up to 1000 characters

train.head() 

pd.get_option('display.precision') # Digit are viewied 6 digits after decimal point

pd.set_option('display.precision', 2) # Now only 2 decimal points for Fare, underlining data is not affected

train.head() 

# How to format large number to include commas

drinks['x'] = drinks.wine_servings * 1000
drinks['y'] = drinks.total_litres_of_pure_alcohol * 1000

# Added some large numbers

drinks.head()

pd.set_option('display.float_format','{:,}'.format) # Added comas to floating point numbers

# This does not affect Intergers

drinks.head()

# Bonus - Viewing Pandas Options Offline

pd.describe_option() # Describes Every Option

pd.describe_option('row') #Searching Options by Strin "row" on Option Title

pd.reset_options('all') # Reset All Options

display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]

display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]

display.column_space No description available.
    [default: 12] [currently: 12]

display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]

display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]

display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]

display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]

display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: <built-in method format of str object at 0x10ae73298>]

display.height : int
    Deprecated.
    [default: 60] [currently: 60]
    (Deprecated, use `display.max_rows` instead.)

display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]

display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    method. Valid values: False,True
    [default: True] [currently: True]

display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    method. Valid values: False,True
    [default: False] [currently: False]

display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]

display.line_width : int
    Deprecated.
    [default: 80] [currently: 80]
    (Deprecated, use `display.width` instead.)

display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: None]

display.max_colwidth : int
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output.
    [default: 50] [currently: 1000]

display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]

display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

display.max_seq_items : int or None
    when pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]

display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]

display.mpl_style : bool
    Setting this to 'default' will modify the rcParams used by matplotlib
    to give plots a more pleasing visual style by default.
    Setting this to None/False restores the values to their initial value.
    [default: None] [currently: None]

display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]

display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]

display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]

display.precision : int
    Floating point output precision (number of significant digits). This is
    only a suggestion
    [default: 6] [currently: 2]

display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]

display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]

display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]

display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]

html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]

io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    'xlwt' (the default).
    [default: xlwt] [currently: xlwt]

io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    'openpyxl' (the default).
    [default: openpyxl] [currently: openpyxl]

io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    'openpyxl' (the default), 'xlsxwriter'.
    [default: openpyxl] [currently: openpyxl]

io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]

io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]

mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]

mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]

mode.use_inf_as_null : boolean
    True means treat None, NaN, INF, -INF as null (old way),
    False means None and NaN are null, but INF, -INF are not null
    (new way).
    [default: False] [currently: False]


display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

AttributeError: module 'pandas' has no attribute 'reset_options'

In [138]:
# 29 - How do I creat a pandas Dataframe from another object

# Create Dataframe from Dictionary

pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}) # Unorder Dataframe

pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color']) # Specified column order

df = pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color'], index=['a','b','c']) #Added index to dataframe

# Create Dataframe from Lists

pd.DataFrame([[100,'red'],[101,'blue'],[102,'red']]) # List are stacked on top of each other

pd.DataFrame([[100,'red'],[101,'blue'],[102,'red']], columns=['id','color']) # Specified Columns


# Create Dataframe from Numpy Arrary

arr = np.random.rand(4,2) # Generate Random Number via Beta Distribution
arr

pd.DataFrame(arr) # created Dataframe 

pd.DataFrame(arr, columns=['one','two']) #specified columns

# Create Large DataFrame

pd.DataFrame({'student':np.arange(100,110,1), 'test':np.random.randint(60,101,10)}) 

#np arange (inclusive, exclusive, step)

pd.DataFrame({'student':np.arange(100,110,1), 'test':np.random.randint(60,101,10)}).set_index('student') # you can set index when creating dataframe via the function


# Bonus

s = pd.Series(['round','square'],index=['c','b'], name='shape') #created a series

df

pd.concat ([df,s],axis=1) # Concat a row , and aliged a the row accordinly to the index. Creating a Nan Value.

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round

In [161]:
#30 - How do I apply a function to a pandas Series or Dataframe

train = pd.read_csv('http://bit.ly/kaggletrain')
train.head()

# Maps allows you to map a value in a series to another value

train['Sex_num'] = train.Sex.map({'female':0,'male':0}) #Translate values to 0 or 1

train.loc[0:4, ['Sex', 'Sex_num']]

# Apply - Series and DataFrame

train['Name_length'] = train.Name.apply(len)

train.loc[0:4, ['Name','Name_length']] # Counts the Number of character in strinp

train['Fare_ceil'] = train.Fare.apply(np.ceil)

train.loc[0:4,['Fare','Fare_ceil']] # Round values up Via Apply

train.Name.str.split(',').head() # Spliting String by coma, into a list of string 

def get_element(my_list, position):
    return my_list[position]

train.Name.str.split(',').apply(get_element, position = 0).head() # Set and use function that get first strinp from list

train.Name.str.split(',').apply(lambda x: x[0]).head() # A 2nd approach using lamda instead of defining function

drinks = pd.read_csv('http://bit.ly/drinksbycountry')

drinks.head()

drinks.loc[:,'beer_servings':'wine_servings'].apply(max, axis = 0) # Determing Max value form each Column

drinks.loc[:,'beer_servings':'wine_servings'].apply(max, axis = 1)# Determing Max value form each Row

drinks.loc[:,'beer_servings':'wine_servings'].apply(np.argmax, axis = 1) # Determining what columns has the highest value for each row


# Apply Map - Data Frame, apply to every element in Dataframe

drinks.loc[:,'beer_servings':'wine_servings'] = drinks.loc[:,'beer_servings':'wine_servings'].applymap(float)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0.0,0.0,0.0,0.0,Asia
1,Albania,89.0,132.0,54.0,4.9,Europe
2,Algeria,25.0,0.0,14.0,0.7,Africa
3,Andorra,245.0,138.0,312.0,12.4,Europe
4,Angola,217.0,57.0,45.0,5.9,Africa