# Create Dummy Variables

<span>Pandas to the rescue again. The pandas "pd.to_dummies" function can be operated on dataframe to take one categorical feature and create a one-hot-encoded feature for each dimension in the original feature. The great part is that pandas will complete this actions for all object and categorical feature at one. So you can go from a dataframe 11 feature to 45 pretty quickly.</span>

### Import Preliminaries

In [1]:
# Import modules
import pandas as pd

# Read in pokemon data 
df = pd.read_csv('Data/pokemon.csv', index_col='#')

# Drop name feature
df = df.drop('Name', axis=1)

# Print the numbef of feature in dataframe
print('Number of Features in DataFrame:', df.shape[1])

Number of Features in DataFrame: 11

In [2]:
# View the head of the dataframe
df.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
# Get dummries for non ordinal valuse in the dataframe
df = pd.get_dummies(df)

# Print the new number of features in the dataframe
print('Number of Features in DataFrame:', df.shape[1])

Number of Features in DataFrame: 45

In [4]:
# View the head of the dataframe
df.head(5)

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type 1_Bug,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
#,,,,,,,,,,,,,,,,,,,,,
1,318,45,49,49,65,65,45,1,False,0,...,0,0,0,0,0,1,0,0,0,0
2,405,60,62,63,80,80,60,1,False,0,...,0,0,0,0,0,1,0,0,0,0
3,525,80,82,83,100,100,80,1,False,0,...,0,0,0,0,0,1,0,0,0,0
3,625,80,100,123,122,120,80,1,False,0,...,0,0,0,0,0,1,0,0,0,0
4,309,39,52,43,60,50,65,1,False,0,...,0,0,0,0,0,0,0,0,0,0

Author: Kavi