### Migrating Data from Pandas DataFrame to SQL DB

Source: https://www.dataquest.io/blog/python-pandas-databases/

In [45]:
import pandas as pd
import sqlite3

In [46]:
%%timeit
vg = pd.DataFrame(pd.read_csv('https://www.dropbox.com/s/xynlj4r669pwdob/vgsales.csv?dl=1'))

1 loop, best of 3: 1.28 s per loop

In [47]:
vg.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [48]:
%%timeit
# create local population database in Data subdirectory
conn = sqlite3.connect('Data/video_games.db')
cur = conn.cursor()

# Export data to connected datbase
vg.to_sql('daily_flights', conn, if_exists='replace')

10 loops, best of 3: 125 ms per loop

In [51]:
# Committing changes and closing the connection to the database file
conn.close()

### Delete the Local Database File

In [50]:
import os
os.remove('Data//video_games.db')